.App {
  text-align: center;
}

.App-logo {
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.App-header {
  background-color: #e30059;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App-button:hover {
  background-color: #21a1f1;
}

.App-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 500px; 
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-form h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px; 
}

.login-form label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 10px;
  width: 100%; 
}

.login-form input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box; 
}

.login-form input:focus {
  border-color: #e30059;
  outline: none;
}

.submit-btn,
.cancel-btn {
  background-color: #e30059;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; 
  margin-top: 10px;
}

.submit-btn:hover,
.cancel-btn:hover {
  background-color: #d1004f;
}

.cancel-btn {
  background-color: #ccc;
  color: black;
  margin-top: 20px; 
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.admin-login-btn {
  background-color: black;
  margin-top: 20px;
}